.white {
    color: #FFFFFF
}

.bg-green {
    background-color: #19A974
}

.bg-near-white {
    background-color: #F4F4F4
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

p.raw-text-link>a {
    color: white;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.baskerville {
    font-family: baskerville, serif;
}

.fw1 {
    font-weight: 100;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.mw7 {
    max-width: 48rem;
}

.w-100 {
    width: 100%;
}

.black {
    color: #000;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt0 {
    margin-top: 0;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.no-underline {
    text-decoration: none;
}

.f3 {
    font-size: 1.5rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover,
.dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .flex-row-ns {
        flex-direction: row;
    }
    .w-40-ns {
        width: 40%;
    }
    .w-60-ns {
        width: 60%;
    }
    .pl3-ns {
        padding-left: 1rem;
    }
    .pr3-ns {
        padding-right: 1rem;
    }
    .mb0-ns {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 60em) {
    .ph0-l {
        padding-left: 0;
        padding-right: 0;
    }
    .f5-l {
        font-size: 1rem;
    }
}

.border-box {
    box-sizing: border-box;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}


.link:link,
.link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #4d4d4f;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover,
.dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }
    .dtc-l {
        display: table-cell;
    }
    .w-25-l {
        width: 25%;
    }
    .w-75-l {
        width: 75%;
    }
    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .mr4-l {
        margin-right: 2rem;
    }
    .mb0-l {
        margin-bottom: 0;
    }
    .tl-l {
        text-align: left;
    }
    .tr-l {
        text-align: right;
    }
    .f5-l {
        font-size: 1rem;
    }
}